
@{
    ViewData["Title"] = "PasswordChange";
}


@model PasswordChangeViewModel

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-8 offset-md-3">

        <form method="post" asp-controller="User" asp-action="PasswordChange">
            <h2>Sifre Yenileme</h2>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-info" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

            <div asp-validation-summary="ModelOnly" class="text text-danger" role="alert">
            </div>

        
            <div class="row mb-3">
                <label for="PasswordOld" class="col-md-4 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordOld" class="form-control btn btn-outline-info">
                    <span asp-validation-for="PasswordOld" class="text text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordNew" class="col-md-4 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNew" class="form-control btn btn-outline-info">
                    <span asp-validation-for="PasswordNew" class="text text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordNewConfirm" class="col-md-4 col-form-label" asp-for="PasswordNewConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNewConfirm" class="form-control btn btn-outline-info">
                    <span asp-validation-for="PasswordNewConfirm" class="text text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Sifre deyistir</button>
                </div>
            </div>
        </form>
    </div>
</div>



