
@{
    ViewData["Title"] = "ResetPassword";
}



@model ResetPasswordViewModel

<div class="row">
    <div class="col-md-8 offset-md-3">

        <form method="post">
            

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-info" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

            <div asp-validation-summary="ModelOnly" class="text text-danger" role="alert">
            </div>

            <div class="col-md-8 offset-md-2"> <h2>Yeni sifre olusturma</h2> </div>

            <div class="row mb-3">
                <label for="Password" class="col-md-8 col-form-label" asp-for="Password"></label>
                <div class="col-md-8">
                    <input asp-for="Password" class="form-control btn btn-outline-info">
                    <span asp-validation-for="Password" class="text text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-8 col-form-label" asp-for="PasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordConfirm" class="form-control btn btn-outline-info">
                    <span asp-validation-for="PasswordConfirm" class="text text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary">Sifre yenile</button>
                </div>
            </div>
        </form>
    </div>
</div>

